:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .Backend {
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar-center .nav-links {
    display: none;
  }
  .navbar-right {
    display: flex;
  }
  .navbar-right .hamburger-menu {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:active{
  transform: scale(0.95);
  background-color: #1a1a1a;
}

.square {
  border: 1px solid #404040;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0;
  text-align: center;
  height: 100px;
  width:100px;
}

.board{
  margin: 20px auto;
  width: 314px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.Reset {
  background-color: #1a1a1a;
  height: 40px;
  width: 70px;
  border: 1px solid #404040;
  font-size: 20px;
  margin-left: 10px;
  padding: 2px;
  border-radius: 8px;
}
.center-text {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
